.advert {
    margin-top : 3px;
}

.advert-img {
    width: 250px;
    min-height: 170px !important;
}

.advert span {
    margin-bottom: 3px;
}

.thumbnail{
    height: 170px !important;
    margin-bottom: 0 !important;
}