.advert {
    margin-top : 3px;
}

.advert-img {
    width: 250px;
    min-height: 170px !important;
}

.advert-img img {
    max-width: 100%;
    max-height: 100%;
}

.advert span {
    margin-bottom: 3px;
}

.thumbnail{
    height: 170px !important;
    margin-bottom: 0 !important;
}

.tijd {
    overflow: hidden;
    white-space:nowrap;
    max-width: 40%;
}

.prijs {
    overflow: hidden;
    white-space:nowrap;
    max-width: 40%;
}