.advert {
    margin-top : 3px;
}

.advert-img {
    width: 250px;
    height: 170px;
    margin-bottom: 0px;
}

.advert span {
    margin-bottom: 3px;
}

.thumbnail{
    margin-bottom: 0px;
}

.div advert-img thumbnail {
    height: 170px;
}