.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.list-group {
    width: 100%;
}

.voorwerp {
    margin: 10px;
    background: #E0E0E0;
}

.fill {
    height: 100%;
    min-height: 100%;
}

.body {
    height: 100%;
}

.advert {
    height: 35.0rem;
}

.advert img {
    display:block;
    margin: auto;
    max-width:100%;
    max-height:40%;
    width: auto !important;
    height: auto !important;
}