.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.list-group {
    width: 100%;
}

.fill {
    height: 100%;
    min-height: 100%;
}

.body {
    height: 100%;
}