.categorie{
    column-count: 4;
    column-width: 150px;
    column-gap: 20px;
}

.categorie a {
    height: 50px;
}

.page-header{
    padding-bottom: 5px;
    margin: 20px 0 5px;
    border-bottom: 1px solid #f6d155;
}

/*.row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row .item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
*/
h4{
    margin-top: 30px;
    margin-left: -5px;
    font-weight: bold;
    text-decoration: underline;
}

