
#Header-Categories{
    text-align: center;
}

.list-group {
    width: 100%;
    margin-bottom: 0;
}
.carousel-inner .item>.item-active{
    width: 100%;
}
.carousel-inner .item{
    width: 100%;
    height: 100%;
}


/*carousel */
#myCarousel{
    height: 100%;
    min-height: 460px;
}
.carousel-inner{
    height: 100%;
}
.veiling-image-carousel{
    position:absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%  ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-image: url(../images/no-image-available.jpg);
}
.veiling-titel-carousel{
    z-index: 100;
    position: absolute;
    top: 0;
    width:100%;
    height: 8%;
    background-color: #F6D155;
    color: white;
    font-size: 28px;
}
.veiling-titel-carousel-bottom{
    z-index: 100;
    position: absolute;
    bottom: 0;
    width:100%;
    height: 8%;
    color: white;
    font-size: 28px;
}
.advert-info{
    overflow: hidden;
    white-space:nowrap;
    width: 49%;
}


