.navbar-brand {
    padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
    height: 100%;
    padding: 2px 2px 2px 5px; /* firefox bug fix */
    width: auto;
}


.NavRightButton{
    margin-left: 15px;
}

.list-group {
    width: 100%;
}
.carousel-inner .item>.item-active{
    height: 37.5vw;
}
.carousel-inner .item{
    height: 37.5vw;
}