
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}


.list-group {
    width: 100%;
}
.carousel-inner .item>.item-active{
    height: 37.5vw;
}
.carousel-inner .item{
    height: 37.5vw;
}