/* Header */
.navbar-brand {
    padding: 0px; /* firefox bug fix */
    margin-right: 15px;
}
.navbar-brand>img {
    height: 100%;
    padding: 2px 2px 2px 5px; /* firefox bug fix */
    width: auto;
}
.NavRightButton{
    margin-left: 15px;
    margin-right: 15px;
}
.NavLeftButton{
    margin-left: 15px;
}
.MobileButtonToggle{
    margin-left: 15px;
    margin-right: 15px;
}


/* footer */
footer {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #F0F0F0;
    height: 200px;
    width: 100%;
}
.footer-inner{

}