.nav {
    padding-left: 20px;
}
label.tree-toggle.nav-header{
    cursor:pointer;
}
.nav>li>a.testen{
    padding:0;
    padding-bottom: 2px;
}
hr{
    margin:0;
    margin-bottom:4px;
}

slider-handle { width: 3220px; }