.nav {
    padding-left: 15px;
}

.form-control #searchbar{
    height: 36px;
}

input#searchbar.form-control{
    height: 36px;
    margin: 0px;
}

form.navbar-form{
    margin: 7px 0 0px;

}
button.btn.btn-secondary{
    margin: 0px 0 0 -1px;
}

button.btn.btn-primary{
    margin:7px 0px 7px 15px;
}

button.btn.btn-default{
    margin:7px 15px 7px 15px;
}


