.nav {
    padding-left: 20px;
}
.p{
    margin: 0px;
    padding-left: 20px;
}

.tree-toggle.nav-header{
    cursor:pointer;
}

hr{
    margin:0;
    margin-bottom:4px;
}

slider-handle { width: 3220px; }