.Titanic{
    float: none;
}

/* Headers */

.HeaderTitle{
    height: 50px;
    display: inline-block;
    background-color: #F6B555;
    width: 100%;
    border-radius: 4px;
    margin: 5px 0 5px 0;
    font-size: 32px;
    color: #ffffff;
    overflow: hidden;
    white-space:nowrap;
}



/*right column */

.TimeLeft{
    display: flex;
}

.TimeLeft i{
    display: inline-block;
}
#Clock{
    justify-self: right;
    position:relative;
    width: 20%;
    padding-bottom: 20% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-image: url(../images/no-image-available.jpg);

}
.Time{
    font-size: 3vw;
    width: 80%;
    text-align: center;
    vertical-align: center;
}

#Price{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3vw;
    text-align: center;
    display: inline-block;
}
.OldOffer{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1vw;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: #e5e5e5 solid 2px;
}
.OldOfferUserName{
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1vw;
    text-align: left;
    display: inline-block;
}
.OldOfferPrice{
    width: 23%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1vw;
    text-align: right;
    display: inline-block;
}
.MoreOffers{
    width: 100%;
    border: #e5e5e5 solid 2px;
}

.InputBod{
    width: 49%;
    float: left;
}
.SubmitButton{
    width: 48%;
    float: right;
}
#User{
    position:relative;
    width: 10%;
    padding-bottom: 20% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-image: url(../images/no-image-available.jpg);
}
.UserInfo{

    font-size: 1.2vw;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-items: center;

}
#UserRating{
    width: 100%;
    display:inline-flex;
    height: 50px;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
}
.UserContainer{
    display: flex;
    justify-content: center;
    justify-items: center;
}
/*carousel*/
.AuctionImage{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-image: url(../images/no-image-available.jpg);
}

/*details*/
.Details-wrapper{
    margin-top: 15px;
}

.Details{
    width: 100%;
    height: 148px;
    font-size: 1.3vw;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    flex-wrap: wrap;
}

.Detail{
    width: 50%;
    height: 50%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    justify-items: center;
    padding-left: 15px;
}

/* description */
#Description-Wrapper{
    height: 935px;
    overflow-y: hidden;
}
#Description{
    width: 100%;
    height: 100%;
    border: none;
}



@media( max-width: 992px){
    .Time{
        font-size: 9vw;
    }
    #Price{
        font-size: 9vw;
    }
    .OldOffer{
        font-size: 3vw;
    }
    .OldOfferPrice{
        font-size: 3vw;
    }
    .OldOfferUserName{
        font-size: 3vw;
    }
    .UserInfo{
        font-size: 3vw;
    }
    #UserRating{
        font-size: 6vw;
    }
    .Details{
        font-size: 3vw;
        height: 296px;

    }
    .Detail{
        text-align: center;
    }
}

