#EersteVoorwerp{
    margin-top: 0;
}
#TweedeVoorwerp{
    margin-top: 0;
}

.Voorwerp {
    margin-top : 15px;
}

.Voorwerp-img {
    display: flex;
    justify-content: center;

    width: 250px;
    min-height: 170px !important;
}

.Voorwerp-img img {
    max-width: 100%;
    max-height: 100%;
}

.Voorwerp span {
    margin-bottom: 3px;
}

.thumbnail{
    height: 170px !important;
    margin-bottom: 0 !important;
}

.tijd {
    overflow: hidden;
    white-space:nowrap;
    max-width: 40%;
}

.prijs {
    overflow: hidden;
    white-space:nowrap;
    max-width: 40%;
}

.title {
    overflow: hidden;
    white-space: nowrap;
}