#items in this file wil be ignored:

#ignore vim swap files
*~
.*.swp

#ignore nano swap files
*.save
*.save.*

#php connection file
./PHP/Connection.php
./PHP/connection.php

### PhpStorm ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/deployment.xml #stores remote deployment settings
.idea/webserver.xml #stores remote deployment settings
.idea/jsLibraryMappings.xml #stores the mappings for the local js files

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/webServers.xml
